@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8rem;
}

.logo {
  font-size: 1rem;
  font-weight: 400;
}

.nav-links {
  display: flex;
  align-items: center;
}

.link {
  margin: 0 2rem;
  color: maroon;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
}

.link:hover {
  color: black;
}

.hero {
  height: 100vh;
  width: 100%;
  padding: 0 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  font-weight: 400;
  font-size: 70px;
}

.desc {
  font-weight: 300;
  font-size: 0.8rem;
  color: gray;
  max-width: 500px;
}

.hero-img {
  width: 500px;
  height: 500px;
}

/* Gallery */
.gallery-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery li {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border: 2px solid rgb(141, 64, 64);
  float: left;
  margin: 10px;
  position: relative;
}
.gallery li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery li,
.gallery li img,
.gallery li span {
  border-radius: 50%;
}

.gallery li span {
  display: block;
  width: 120px;
  height: 120px;
  background-color: rgba(141, 64, 64, 0.2);
  line-height: 120px;
  position: absolute;
  top: 0;
  text-align: center;
  font-size: 10px;
  color: #fff;
  opacity: 0;
  transform: scale(0) rotate(0);
  transition: 0.3s;
}

.gallery li a:hover span {
  opacity: 1;
  transform: scale(1) rotate(360deg);
}

.clear {
  clear: both;
}

/* overlay */
.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: 0.5ms;
  text-align: center;
  padding: 100px 0 0;
}

.overlay:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay img {
  max-width: 50%;
  max-height: 70%;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.overlay:target img {
  animation: fadeAjah 1s;
  border-radius: 0;
}

.overlay .close {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -20px;
  color: white;
  text-decoration: none;
  background-color: black;
  border: 1px solid white;
  line-height: 14px;
  padding: 5px;
  opacity: 0;
}

.overlay:target .close {
  animation: slideDownFade 0.5s 0.5s forwards;
}

.overlay:target .next,
.overlay:target .prev {
  animation: fadeAjah 0.5s 0.5s forwards;
}

/* navigasi */
.next,
.prev {
  width: 40px;
  height: 40px;
  background-image: url(images/next.png);
  background-size: cover;
  position: absolute;
  text-indent: -9999px;
  top: 45%;
  margin-left: 50px;
  opacity: 0;
}

.prev {
  background-image: url(images/back.png);
  margin-left: -100px;
}

/* animasi */
@keyframes fadeAjah {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes zoomDanFade {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    margin-top: -20px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

/* Book */
.book {
  height: 100vh;
}

.wrapper {
  padding: 4rem 8rem;
}

.subheading {
  font-weight: 300;
  color: rgb(141, 64, 64);
}

form {
  margin: 2rem 0;
}
form label {
  margin-right: 1rem;
}

form input {
  margin-right: 1rem;
}

#submit {
  width: 90px;
  cursor: pointer;
  background-color: rgb(141, 64, 64);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  color: white;
}

.boxWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.box {
  width: 350px;
  background-color: rgb(141, 64, 64);
  color: #fff;
  padding: 2rem;
  border-radius: 10px;
}

.box-title {
  font-weight: 400;
  font-size: 1rem;
}

.syarat {
  margin: 1rem 0;
  font-size: 0.7rem;
  font-weight: 300;
}

.box ul {
  margin: 1rem 0;
}

.box ul li {
  font-size: 0.8rem;
  font-weight: 400;
}

.box button {
  border: 1px solid rgb(141, 64, 64);
  outline: none;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-weight: 400;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.box button:hover {
  background-color: rgb(141, 64, 64);
  color: #fff;
  border: 1px solid #fff;
}

form div {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

form select {
  max-width: 400px;
}

form input {
  max-width: 400px;
}

.table {
  margin-top: 2rem;
}
.table tr th {
  text-align: left;
  width: 300px;
  margin: 1rem 0;
}

#form {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  display: none;
}
.hide {
  display: none;
}
.show {
  display: block;
}

.cta {
  padding: 0 8rem;
}

.ubah-btn {
  margin-top: 1rem;
  margin-right: 2rem;
  border: 1px solid rgb(141, 64, 64);
  outline: none;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-weight: 400;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.ubah-btn:hover {
  background-color: rgb(141, 64, 64);
  color: #fff;
  border: 1px solid #fff;
}
